// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
}
// Спойлер
.spollers__item {
  padding: 20px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  &:first-child {
    border-top-color: transparent;
  }
  &:last-child {
    border-bottom-color: transparent;
  }
  @media (max-width: $mobile) {
    padding: 10px 0;
  }
}
// Заголовок спойлера
.spollers__title {
  position: relative;
  width: 100%;
  cursor: default;
  text-align: left;
  font-size: 30px;
  line-height: 52px;
  padding-right: 40px;
  @media (max-width: $mobile) {
    font-size: 20px;
    line-height: 30px;
  }
  @media (max-width: $mobileSmall) {
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
  }
  ._spoller-init & {
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 0px;
      top: 0;
      width: 40px;
      height: 40px;
      transition: all 0.3s ease 0s;
    }
    &::before {
      opacity: 1;
      transform: rotate(90deg);
      background: url("../img/icons/plus.svg"), no-repeat;
    }
    &::after {
      opacity: 0;
      background: url("../img/icons/minus.svg"), no-repeat;
    }
    &._spoller-active {
      &::before {
        opacity: 0;
      }
      &::after {
        opacity: 1;
      }
    }
  }
}
// Контент спойлера
.spollers__body {
  max-width: 590px;
  @media (max-width: $mobile) {
    padding-top: 10px;
  }
}
