//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
  display: inline-flex;
  justify-content: center;
  padding: 15px 25px;
  text-transform: uppercase;
  border: 2px solid transparent;
  transition: all 0.3s ease 0s;
  border-radius: 50px;
  @media (max-width: $mobile) {
    padding: 8px 17px;
  }
  &_filled {
    background: $accentColor;
  }
  &_min {
    min-width: 260px;
    display: inline-block;
    text-align: center;
  }
  &_white {
    border-color: #fff;
    @media (any-hover: hover) {
      &:hover {
        border-color: $accentColor;
      }
    }
  }
  &_blue {
    border-color: $blueColor;
    @media (any-hover: hover) {
      &:hover {
        border-color: $accentColor;
      }
    }
    &:active {
      background: $accentColorLight;
    }
  }
  &:focus,
  &:active {
    background: $accentColorLight;
    border-color: $accentColorLight;
    outline: none;
  }
  &._fw {
    width: 100%;
  }
}
