// <SELECT>
// Снипет (HTML): sel
.select {
  position: relative;
  // .select__body
  &__body {
    position: relative;
  }
  // .select__title
  &__title {
    color: inherit;
    text-align: left;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
  }
  // .select__value
  &__value {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0px 15px;
    justify-content: space-between;
    &:before {
      content: "";
      flex: 0 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 0px;
      height: 0px;
      margin-right: 8px;
      border-style: solid;
      border-width: 0 5px 5px 5px;
      border-color: transparent transparent #52a6dd transparent;
      transition: all 0.3s ease 0s;
      transform: rotate(0deg);
      ._select-open & {
        transform: rotate(-180deg);
      }
    }
  }
  // .select__text
  &__text {
    flex: 1 1 auto;
  }
  &__input {
    width: 100%;
    background-color: transparent;
    height: 100%;
  }
  // .select__options
  &__options {
    color: #000;
    position: absolute;
    top: 40px;
    border-radius: 10px;
    overflow: hidden;
    min-width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: $blueGreyColorDark;
    color: #fff;

    border-top: 0;
    border-top: 0;
  }
  // .select__scroll
  &__scroll {
    overflow-y: auto;
    overflow-x: hidden;
    // Максимальная высота
    max-height: 200px;
    // Стили скроллбара
    .simplebar-scrollbar {
      &::before {
        // opacity: 1;
      }
    }
  }
  // .select__option
  &__option {
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding: 4px 20px;
    background-color: $blueGreyColorDark;
    transition: all 0.3s ease 0s;
    color: inherit;
    &._select-selected {
      text-transform: uppercase;
    }
    &:not(:last-child) {
      border-bottom: 1px solid $blueColor;
    }
    @media (any-hover: hover) {
      &:hover {
        background: $blueGreyColor;
        color: $blueColorLight;
      }
    }
  }

  // Конструкция дополнительных данных
  &__row {
    display: inline-flex;
    align-items: center;
  }
  &__asset {
  }
  &__text {
  }

  // Состояния селекта
  &._select-open {
    z-index: 5;
  }
  &._select-disabled {
  }
  &._select-active {
    .select__content {
      text-transform: uppercase;
    }
  }
  &._select-focus {
  }
  &._select-multiple {
  }
  &._select-checkbox {
  }
}

// Тег
._select-tag {
  cursor: pointer;
}
