.country-map {
  position: relative;
  z-index: 1;
  @media (max-width: $pc) {
    margin-top: 0;
  }
  &__inner {
    transform: scale(1);
    svg {
      width: 100%;
    }
    @media (max-width: $tablet) {
      svg {
        height: 80%;
      }
    }
  }
}

path[data-hascod="true"] {
  transition: fill 0.3s ease 0s;

  &:hover {
    fill: #72bdee;
    cursor: pointer;
  }
}

.geo-pointer {
  outline: none;
  transition: fill 0.3s ease 0s;
  &:active {
    outline: none;
  }
  &:hover {
    fill: $accentColorLight;
    cursor: pointer;
  }
}
