@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
@import "base/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
//@import "base/icons";
@import "libs/datepicker.scss";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "ProximaNova";
$fontSize: rem(14); // где 14(px) - размер шрифта по умолчанию из макета

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1330;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Ширина страбатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em(
  $containerWidth
); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Основной цвет шрифта
$mainColor: #fff;
$bgColor: #0b1d2f;
$accentColor: #53c1b0;
$accentColorLight: #41e9cc;
$blueGreyColorDark: #2a435c;
$blueGreyColor: #59748f;
$blueColor: #52a6dd;
$blueColorLight: #b9e3ff;
$inputError: #fda5a5;
$textError: #ff4a4a;

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";
html {
  overflow-x: hidden;
}
body {
  cursor: url("../img/icons/cursor.svg"), auto;
  color: $mainColor;
  background-color: $bgColor;
  overflow-x: hidden;

  // Скролл заблокирован
  .lock & {
    overflow: hidden;
  }
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  min-height: 100%;
  display: grid;
  overflow: hidden;
  grid-template-rows: auto 1fr auto;

  // Сайт загружен
  .loaded & {
  }
}

// Ограничивающий контейнер ===========================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
  // Отзывчивая
  [class*="__container"] {
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
      margin: 0 auto;
    }

    @if ($containerPadding>0) {
      padding: 0 rem(math.div($containerPadding, 2));
    }
  }
} @else {
  // По брейк-поинтам
  [class*="__container"] {
    margin: 0 auto;

    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
    } @else {
      @if ($containerPadding>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }

    @media (max-width: $pc) {
      max-width: rem(970);
    }

    @media (max-width: $tablet) {
      max-width: rem(750);
    }

    @media (max-width: $mobile) {
      max-width: none;

      @if ($containerPadding>0 and $maxWidthContainer>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
  }
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомагательных классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";
@import "gradientHero";
@import "map";

// Основной блок страницы ====================================================================================================
.page {
  min-width: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  &_big {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2%;
    line-height: math.div(60, 50);
    color: $blueColor;
    @media (max-width: $tablet) {
      font-size: 32px;
    }
    @media (max-width: $mobile) {
      font-size: 24px;
    }
    @media (max-width: $mobileSmall) {
      font-size: 20px;
    }
  }
}

.title-h2 {
  font-size: 52px;
  line-height: 1;
  font-weight: 700;
  &_blue {
    color: $blueColor;
  }
  @media (max-width: $mobile) {
    font-size: 40px;
  }
  @media (max-width: $mobileSmall) {
    font-size: 24px;
  }
}
.title-h3 {
  font-size: 20px;
  line-height: math.div(26, 20);
  font-weight: 700;
  @media (max-width: $mobileSmall) {
    font-size: 18px;
  }
}

.text {
  font-weight: 300;
  font-size: 17px;
  line-height: math.div(21, 17);
  @media (max-width: $mobileSmall) {
    font-size: 14px;
  }
}

.tip {
  display: inline-block;
  padding: 15px 20px;
  border-radius: 10px;
  max-width: 200px;
  background: rgba(255, 255, 255, 0.7);
  &__box {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__title {
    font-size: 16px;
    line-height: math.div(20, 16);
    margin-bottom: 10px;
    color: $bgColor;
    font-weight: 700;
  }
  &__text {
    font-size: 12px;
    text-align: left;
    color: #0b1d2f;
  }
}

*[id^="tippy-"] {
  pointer-events: unset;
}

[data-tippy-empty="true"] {
  transition: fill 0.3s ease 0s;
  outline: none;
  &:hover {
    fill: #72bdee;
  }
  &:active {
    outline: none;
  }
}
